.piros span{
font-variant: small-caps;
color: crimson;
}

.kék span{
color: dodgerblue;
font-weight: bold;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    background-color: cornsilk;
    text-justify: auto;
    margin: 3mm;
    padding-right: 6mm;
    padding-left: 6mm;
    padding-top: 2mm;
    padding-right: 2mm;
}

#bal{
width: 70%;
}

#jobb{
width: 80%;
margin: auto;
}

div{
margin-bottom: 6mm;
margin-top: 6mm;
border:dotted burlywood 5px;
text-indent: 1.5cm;
}

.piros{
    border-right:darkred 3mm double ;
}

.kék{
    border-left: blueviolet 1mm dashed;
    border-bottom: blue 2mm dashed;
}


